<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="twilight.of.the.devs.touryglass"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        
        <service android:name="twilight.of.the.devs.touryglass.TouryService">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/trigger" />
        </service>
        <service android:name="twilight.of.the.devs.touryglass.SyncService"></service>
        <provider android:name="twilight.of.the.devs.touryglass.provider.TouryProvider"
		    android:authorities="twilight.of.the.devs.touryglass.provider.TouryProvider">
		</provider>
        <activity
            android:immersive="true"
            android:name="twilight.of.the.devs.touryglass.MainActivity" 
            android:theme="@style/MenuTheme">
			
        </activity>
    </application>

</manifest>
